osx_image: xcode12
language: swift

install:
- ./install_swiftlint.sh

script:
- swiftlint
- bundle install
- fastlane scan
- fastlane build_and_deliver
- xcodebuild -scheme UpSkill -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 11,OS=14.0' build test

after_success:
  - bash <(curl -s https://codecov.io/bash)

